body {
  background-color: #edf1d6;
}
h1 {
  font-style: oblique;
  color: #9dc08b;
}
h3 {
  color: #9dc08b;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: blue;
  border-width: 5px;
  width: 5%;
}
.circular {
  border-radius: 100%;
}
